/* Basic functions common to all scss/sass files */

$white: #FFFFFF;
$black: #000000;
$red: #FF0000;

html,body{
	height:100%;
}

@mixin side($direction, $margin, $padding) {
    float: #{$direction};
    margin-#{$direction}: $margin;
    padding-#{$direction}: $padding;
}

@mixin get-margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin zero-margins() {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

@mixin border($top, $right, $bottom, $left) {
    border-radius: $top $right $bottom $left;
    -moz-border-radius: $top, $right, $bottom, $left;
    -webkit-border-radius: $top, $right, $bottom, $left;
}

@mixin shadow($horizontal, $vertical, $blur, $color) {
    box-shadow: $horizontal $vertical $blur $color;
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
}

@mixin set-link-color($color, $background) {
    color: $color;
    background-color: $background;
}

@mixin set-heading-sizes($sizes) {
    @for $i from 1 through length($sizes) {
        h#{$i} {
            font-size: nth($sizes, $i);
        }
    }
}

@mixin font-family ($font){
    font-family: $font;
}

@mixin empty-list-style (){
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

@mixin reset-outline() {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin tabs(){
    font-weight:bold;
    white-space: nowrap;
    text-align:center;

}
