@import "base";

/*
   See colour combo at
http://www.colorcombos.com/color-schemes/294/ColorCombo294.html
#B7C68B, #F4F0CB, #DED29E, #B3A580, #685642
*/

$green-yellow: #B7C68B;
$yellow: #F4F0CB;
$orange-yellow: #DED29E;
$yellow-orange: #B3A580;
$brown: #685642;

$teal: #003333;
$dark-blue: #3F2670;
$maroon-red: #A50707;

@mixin font-family () {
    font-family: Verdana, Helevetica, Arial, sans-serif;
}

.site-name{
    font-size:small;
    font-weight:bold;
    color:gray;
    white-space:nowrap;
    @include side(left, .8em, 1em);
}

h1#site-name-lrg {
    @include side(left, 1em, 0);
    margin-top: -.5em;
}

/* main body attributes STARTED HERE */
body {
    @include font-family();
    font-size:.8em;
    margin:0px;
    background-color: $white;
    color: $teal;
}

.page_wrapper{
    width:99%;
    @include get-margin(0, auto, 0, auto);
    background-color: $white;
    @include shadow(.1em, .1em, .1em, $green-yellow);
    background-position: 0% 0%;
    background-repeat: repeat-x;
    background-size:auto auto;
    border:1px solid #685642;
}

p {
    margin: 0.5em 0em 1em 0em;
    text-align: justify;
    line-height: 150%;

    a {
        text-decoration: underline;
    }

    a:visited {
        @include set-link-color($dark-blue, transparent)
    }

    a:active {
        @include set-link-color($maroon-red, transparent)
    }

    .toc {
        @include font-family();
        background-color: #E9F4F3;
        padding: .6em;
        margin-bottom: .6em;
        margin-top: 0em;
        margin-left: 1em;
        margin-right: 3em;
        border: 1px #ACCFCC solid;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #545454;
    font: 100% Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 0.5em;
}

@include set-heading-sizes(160% 150% 130% 120% 100%);

.h2{
    .sidebox {
	    font-size: 110%;
    }
    .box {
	    font-size: 110%;
    }
}

ul {
    @include font-family();
    @include zero-margins();

    .folder {
        @include empty-list-style();
        margin:0em;
        padding:0em;
    }
}

li {
    @include font-family();
    @include zero-margins();

    .folders {
        list-style: disc url(../../images/folder.gif) outside;
        @extend li;
    }

    .folders .disabled {
        color: #B8AE9C;
    }
}

/* link attributes */
a {
    a:link, a:visited  {
        color: #1A4A72;
    }

    a:active {
        color: #932318;
    }

    a:hover {
        color: #932318;
        color: $white;
    }

    .dropdown-title {
        color: white;
        font-weight: normal;
        text-decoration: none;
    }
}

.left{
    @include side(left, 0, 0);
}

.tableborder {
	border: 1px #595241 solid;
}

.button {
    @include set-link-color(#FFFDE0, #B3A580);
    @include border(.3em, .3em, .3em, .3em);
    font-weight: normal;
    border:  #AAA  solid 1px;
    .button:focus, .button:hover {
        background-color: #685642;
        border:1px solid #DED29E;
    }
    .button:active {
        @include set-link-color(#F4F0CB, #685642);
    }
}

.button2 {
    @include font-family();
    background-color: #B3A580;
    .button2:focus {
        @include set-link-color(#F4F0CB, #685642);
        border:  #ACCFCC  solid 1px;
    }
}

small.date {
    @include font-family();
    color: #595241;
    margin {
        bottom: 0px;
        top: 0px;
        left: 5px;
        right: 0px;
    }
    font-size:1em;
}

hr {
    @include set-link-color(#ACCFCC, $white);
    height: 1px;
}

.editorsmallbox {
    @include font-family();
    background-color: #E9F4F3;
    padding: 2px;
    padding-right: 3px;
    border: 1px #ACCFCC solid;
}

.editorlargebox {
    @include font-family();
    background-color: #E9F4F3;
    margin-left:1em;
    padding {
        left: .2em;
        right: .5em;
        top: .5em;
        bottom: .4em;
    }
    border: 1px #ACCFCC solid;
}


select.dropdown {
    @include font-family();
}

.highlight, a.highlight {
    @include set-link-color($white, #5B8E88);
}

.center{
    text-align: center;
}

/* edit content tabs */
.buttontab {
    @include reset-outline();
    @include tabs();
    color:#555;
    background-color: $white;
    font-weight:500;
    selected {
        @include font-family();
        @include tabs();
        border:0;
        padding-left: 3px;
        padding-right: 3px;
        background-color: $white;
        margin: 0px;
        padding:0em 1em 0em;
        text-decoration:underline;
        width:12%;
    }
}

.tab {
    @include tabs();
    border-top: 1px solid #DED29E;
    border-left: 1px solid #DED29E;
    border-right: 1px solid #DED29E;
    border-bottom:0;
    width:13%;
    padding:0;
    margin:0;
    a:link, a:hover{
        @include set-link-color($black, $white);
    }
}

.etab a:visited {
    @include set-link-color($black, $white);
}

td.selected{
    @include tabs();
    width:13%;
    background-color: $white;
    border-top: 1px #B8AE9C solid;
    border-left: 1px #B8AE9C solid;
    border-right: 1px #B8AE9C solid;
    padding-left: 3px;
    padding-right: 3px;
}

.econtainer{
    background-color: #FFFAF0;
    border:1px #6F7172 solid;
    margin-left:.5em;
}

.etabself {
    background-color: #6F7172;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

.unsaved {
    @include set-link-color($red, #FFFDE0);
	font-weight: bold;
    input[type="submit"]{
        @include set-link-color(#F4F0CB, #B3A580);
        border:2px solid red;
    }
}

.saved {
    background-color: #FFFDE0;
    margin: 10px;
}

/* the side menu */
/* the side menu heading */
td.dropdown-heading {
    @include set-link-color(#595241, #F4F0CB);
    border: 1px solid #DED29E;
    font-weight: bold;
    padding: 2px;
    a, a:hover, a:visited {
        text-decoration: none;
    }
    .closed {
        border-bottom: 1px solid #ECFEEA;
    }
}

/* the side menu content */
td.dropdown {
    @include set-link-color($black, $white);
    padding: 2px;
    border-left: 1px solid #F4F0CB;
    border-right: 1px solid #F4F0CB;
    border-bottom: 1px solid #F4F0CB;
    font-weight: normal;
    a, a:visited  {
        color: #595241;
        text-decoration: none;
    }
    a:hover {
        color: #595241;
        text-decoration: underline;
    }
    .cell {
        border-bottom: 0px;
    }
    strong {
        color: #2A6C28;
    }
}

/* added for 1.4.2: */
.results {
    padding-left: 20px;
}

h5.search-results {
    @include set-link-color(#595241, #F7F3ED);
    padding: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
}

small.search-info {
    color: #595241;
}

p.search-description {
    @include set-link-color(#595241, #FFFCE5);
}

.test-box {
    @include set-link-color(#595241, #F7F3ED);
	border-left: 1px solid #595241;
	border-right: 1px solid #595241;
	border-top: 1px solid #595241;
	font-weight: bold;
	padding: 2px;
}
/***************************************************************/

table.tabbed-table {
    width: 100%;
    border:1px black solid;
    th#left-empty-tab {
        background-color: transparent;
        width: 15px;
        border-bottom: 1px solid #B8AE9C;
    }
    th#right-empty-tab {
        @extend th#left-empty-tab;
        text-align: right;
        width: 400px;
        padding-right: 5px;
    }
    th#right-empty-tab a {
        text-decoration: underline;
    }
    th.tab-spacer {
        @extend th#left-empty-tab;
        width: 5px;
    }

    th.tab {
        padding-top: 2px;
        padding-bottom: 2px;
        width: 110px;
        background-color: #E9F4F3;
        border: 1px solid #B8AE9C;
    }
    th.tab:hover {
        background-color: #ACCFCC;
    }
    th.tab a:focus {
        color: white;
    }
    th.selected {
        padding-top: 2px;
        padding-bottom: 2px;
        width: 110px;
        background-color: #ACCFCC;
        border-left: 1px solid #B8AE9C;
        border-top: 1px solid #B8AE9C;
        border-right: 1px solid #B8AE9C;
    }
    a,  a:visited,  a:hover {
        color: black;
        text-decoration: none;
    }
}

a#my-start-page {
	padding: 2px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: 2px 5px;
}

a#back-to {
    padding-left: 20px;
    background-image: url(images/back.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

div#breadcrumbs {
    /* The path bar, including breadcrumbs and add to favorites */
    clear:both;
    font-size: 0.85em;
    padding-left:.5em;
    margin-top:-.3em;
    margin-left:-.2em;
    padding: 0em 0em .2em .2em;
    float:left;
    width:99.8%;
    border-bottom:1px solid #B7C68B;
    background-color: #F4F0CB;
}

h2.page-title {
    clear:right;
    margin-bottom: 10px;
    padding:0px;
}

h1 {
    margin-bottom: 5px;
}

h3#help-title {
    margin-left: 5px;
    margin-right: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1px;
    background-color: #F7F3ED;
}

div#help {
    @extend h3#help-title;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: small;
}


.line {
    border-bottom: 1px solid black;
}

div#help p {
    @include reset-outline();
}

div#toctoggle {
    @include side(left, 0, 10px);
}

h1#section-title {
    @include side(left, 0, 1em);
    margin-top:-.5em;
}

div#bypass-links{
    width:3px;
}

div#top-links {
    @include side(right, 5px, 20px);
    clear:both;
    margin-top:0em;
    a:link, a:visited {
        text-decoration:none;
        margin-left:.5em;
        margin-right:.5em;
    }
    a:focus {
        @include set-link-color($black, #F6EAD6);
    }
}

#top-links-jump{
	float:left;
	white-space:nowrap;
	margin-top:-1em;
	background-color:#F4F0CB;
	padding-right:.5em;
}

#top-links-text{
    @extend #top-links-jump;
    float:right;
    clear:right;
    margin-left: 2em;
    border:thin solid #DED29E;
    @include border(.3em, .3em, .3em, .3em);
}

a#editor-link {
    background-color: #F7F3ED;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 8px;
    border: 1px solid #DED29E;
    font-weight: normal;
    text-decoration: none;
    a#editor-link:hover {
        background-color: #F7F3ED;
        border: 1px solid #B8AE9C;
    }
    .off {
        background-image: url(images/pen.gif);
        background-repeat: no-repeat;
        background-position: 0px 2px;
    }

    .on {
        @extend .off;
        background-image: url(images/pen2.gif);
    }
}

/* for data tables */

table.data {
    border: 1px solid #685642;
    width: 98%; 
    margin-left: auto; 
    margin-right: auto;
    @include border(.5em, .5em, .5em, .5em);
    padding:.2em;
    th {
        background-color: #DED29E;
        padding: 3px;
        white-space: nowrap;
        a {
            color: #595241;
            padding-right: 15px;
            margin-right: 15px;
            background-image: url('images/sort.png');
            background-repeat: no-repeat;
            background-position: right;
        }
    }
    tbody {
        border-top: 1px solid #B8AE9C;
        border-bottom: 1px solid #B8AE9C;
        th {
            text-align: left;
            background-color: #DED29E;
            cursor: auto;
        }
        tr:hover {
            background-color: #F4F0CB;
            cursor: pointer;
        }

        tr.selected {
            background-color: #E9F4F3;
            cursor: auto;
        }
    }
    td {
        padding: 3px;
    }
    tfoot {
        background-color: #DED29E;
        tr:first-child td {
            padding: 5px;
            background-image: url('images/arrow_ltr.gif');
            background-repeat: no-repeat;
            background-position: 4px 5px;
            padding-left: 40px;
        }
        /*buttons*/
        input {
            @include set-link-color(#F4F0CB, #685642);
            font-weight: normal;
            border:  #685642  solid 1px;
        }
        input:focus, input:hover {
            @include set-link-color(#685642, #F4F0CB);
            border:  #685642  solid 1px;
        }
    }

    .static tfoot td, .static tfoot tr:first-child td {
        border-top: 1px solid #B8AE9C;
        padding: 5px;
        background-image: none;
        padding-left: 0px;
    }

    /* used for static tables with no form elements: */
    .static tbody tr:hover {
        background-color: transparent;
        cursor: auto;
    }

}

/* course browser: */
div#browse {
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
}

div.browse-selected {
    background-image: url('images/side_arrow.gif'); 
    background-repeat: no-repeat; 
    padding-left: 9px; 
    background-position: center left;
}

div.browse-unselected {
    padding-left: 9px; 
}

ul.browse-list {
    list-style: none;
    padding:0px;
}

/* feedback /errors */
div#error {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #DD0000;
    padding: 5px;
    background-color: #E49E7A;
    color:  #000000;
    background-color: #F69E94;
    padding-left: 25px;
    font-weight: bold;
    @include border(.5em, .5em, .5em, .5em);
    h4 {
        color: black;
        margin-left: 0px;
    }
    a{
        color:red;
        text-decoration:underline;
    }
    ul li{
        margin-top: 5px;
    }
}

div#error ul, div#feedback ul, div#help ul {
	position: relative;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type:none;
}

div#feedback {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #17B506;
    padding: 5px;
    background-color: #B7C68B;
    color: #000000;
    font-weight: bold;
    @include border(.5em, .5em, .5em, .5em);
}

div#help {
    @extend div#feedback;
    border: 1px solid #ACCFCC;
    background-color: #E9F4F3;
}

div#info {
    @extend div#feedback;
    border: 1px solid #B8AE9C;
    background-color: #B8D0E8;
    a{
        color:red;
        text-decoration:underline;
    }
}

div#warning {
    @extend div#feedback;
    border: 1px solid #FF8400;
    padding: 5px;
    background-color: #FFF6ED;
}
acronym {
    cursor: help;
}

div.news {
    p {
        margin-left: 10px;
    }
    span.date {
        font-family: Verdana, Helevetica, Arial, sans-serif;
        color: #B8AE9C;	
    }
}

/* home page links */
div.home-link {
    padding: 2px;
    float: left;
    text-align: center;
    margin: 2px;
    width: 120px;
    height: 90px;
    div.home-link:hover {
        padding: 1px;
        background-color: #F7F3ED;
        border: 1px solid #afafaf;
    }
    a {
        text-decoration: none;
        font-weight: bold;
    }
    img {
        border: 0px;
    }
}

/* sequence links */
div.sequence-links {
    @include side(right, 5px, 0);
	margin-top: 10px;
	padding-top:7px;
    a {
        text-decoration: none;
    }
}

div.dropdown {
    width: 200px;
    padding: 2px;
    background-color: white;
    color: black;
    border-left: 1px solid #ECFEEA;
    border-right: 1px solid #ECFEEA;
    border-bottom: 1px solid #ECFEEA;
    font-weight: normal;
}

div.dropdown-heading {
    background-color: #ACCFCC;
    color: #595241;
    border-left: 1px solid #ECFEEA;
    border-right: 1px solid #ECFEEA;
    border-top: 1px solid #ECFEEA;
    font-weight: bold;
    padding: 2px;
}

.required {
    font-weight: bold;
    color: red;
    padding-right: 2px;
}

div#content_text {
    margin-left: 5px;
}

form {
    clear: none;
    display:inline;
}

optgroup {
    font-size: small;
}

/* packing */
div.paging {
    width: 100%;
    text-align: center;
    margin: 0.5em auto;
    ul {
        list-style: none;
        display: inline;
        padding: 0px;
        border: 1px solid #000;
    }
    li { 
        display: inline; 
        padding-left: 2px; 
        padding-right: 2px;
        padding-top: 0px;
        padding-bottom: 0px;
        a {
            text-decoration: none;
            padding-left: 4px;
            padding-right: 4px;
            border-left: 1px solid white;
            border-right: 1px solid white;
            a:hover, a.current {
                background-color: #DED29E;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }
        }
    }
}

#header{
    background-repeat: repeatx;
    background-image: url('images/atutor_head.jpg');
    height:4em;
    margin-bottom:-2em;
    padding-bottom: 2em;
    a {
        font-weight:600i;
        a:hover {
            color: #595241;
            background-color: #F7F3ED;
        }
    }
}

#tl_corner{
    background-image:url(images/tl_corner.gif);
    background-position: top left;
    background-repeat: no-repeat;
    padding:0;
}

div.top {
    /* Top space */
    background-color: #595241;
    color: #FFF;
    margin: 0;
    padding: 0;
    padding-top:9px;
}
div.tabs {
    /* Navigational Plone Tabs(tm), implemented by customizing the a tag - they are surprisingly elegant. The power of CSS runs strong in these :) */
    background-color: transparent;
    border-collapse: collapse;
    border-bottom: 1px solid #B8AE9C;
    padding: 0.5em 0em 0em 2em;
    white-space: nowrap;
    a {
        /* The normal, unselected tabs. They are all links */
        border-color: #B8AE9C;
        border-width: 1px; 
        border-style: solid solid none solid;
        color: #595241;
        height: 1.2em;
        margin-right: 0.5em;
        padding: 0em 2em 0em;
        .selected {
            /* The selected tab. There's only one of this */
            background-color: white;
            border-bottom: #B8AE9C 1px solid;
            color: #595241;
            font-weight: normal;
        }
        a:hover, a.active {
            background-color: #B8AE9C;
            border-bottom: 1px solid #B8AE9C;
            color: white;
        }
    }
}

.contentbox{
	@include border(0em, 0em, .5em, .5em);
}

.headingbox{
    @include border(.5em, .5em, 0em, 0em);
    a {
        color: #A50707;
        text-decoration:underline;
    }
}

h2.box {
	font-size:0.85em;
	padding: 2px;
	padding:.2em;
	border-top:1px solid #B7C68B;
	border-left:1px solid #B7C68B;
	border-right:1px solid #B7C68B;
	border-bottom:1px solid #F4F0CB;
}

h4.box {
    @extend h2.box;
    @include border(.5em, .5em, 0em, 0em);
    border-top:1px solid #F4F0CB;
    border-left:1px solid #F4F0CB;
    border-right:1px solid #F4F0CB;
    border-bottom:1px solid #F4F0CB;
}

div.box {
    padding: .5em;
    background-color: #F4F0CB;
    color: $black;
    font-size:0.85em;
    font-weight: normal;
    border-left:1px solid #B7C68B;
    border-right:1px solid #B7C68B;
    border-bottom:1px solid #B7C68B;
    @include border(0em, 0em, .5em, .5em);
    a:link {
        text-decoration: none;
    }
    a:visited {
        color: #2A6C28;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a.close {
        float: right;
        text-transform: none;
        border-left: 1pt solid #B8AE9C;
        padding: 0em 0.2em;
    }
    h1, h2, h3, h4 {
        margin: 0;
        padding: 0;
    }
    .even {
        background-color: #F7F3ED;

    }
    .odd {
        background-color: transparent;
    }
    .content {
        padding: 1em;
    /*  font-size:  1em;*/
    }
}

.boxDetails {
    text-align: right;
}


h5.box { 
    background-color: #6F7172;
    border: 1px solid #B8AE9C;
    border-style: solid solid none solid;
    color: Black;
    padding: 0em 1em 0em 1em;
    display: inline;
    font-size:  1em;
    height: 1em;
}

/* users/index.php */

div.course {
    position: relative;
    width: 25em;
    height: 10.5em;
    border: rgb(204, 204, 204) 1px solid;
    background-color: #F7F7F7;
    float: left;
    margin: 3px;
    padding: 5px;
    .break {
        clear: left;
    }
    h2 {
        border: 0px;
        font-weight: normal;
        font-size: large;
    }
    div.course:hover {
        background-color:#FBF4E9;
        border: #B8AE9C 1px solid;
    }
    img.icon {
        float: left;
        margin: 2px;
        height:6.8em;
        width:6.8em;
        margin-right:5px;
    }
    div.shortcuts a {
        text-align: right;
        text-decoration:none;
        clear: left;
        vertical-align: middle;
    }
}

img.headicon {
    float:  left;
    margin-top:.5em;
    margin-left:.5em;
    margin-right:.5em;
    height:6.45em;
    width:6.45em;
    vertical-align:top;
    text-align: right;
    border:1px solid white;
}

div#alternatives_shortcuts {
    @include border(.5em, .5em, .5em, .5em);
    float: right;
    margin: -2em 5pt;
    border:1px solid #F4F0CB;
    padding-top: .2em;
    padding-left: .2em;
    padding-right: .2em;
}

fieldset#shortcuts {
    float: right;
    background-color: #FEFDEF;
    border: 1pt solid #B8AE9C;
    margin: -5pt 5pt 5pt 5pt;
    padding-right: 10pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
}

fieldset {
    margin-bottom: 10pt;
    border-radius: .5em .5em .5em .5em;;
    -moz-border-radius: .5em .5em .5em .5em;
    padding:.2em
}
div#shortcuts{
    border-left:thin solid #B7C68B;
    border-right:thin solid #B7C68B;
    border-bottom:thin solid #B7C68B;
    @include border(0em, 0em, .5em, .5em);
    float:right;
    margin-right:2em;
    padding:.1em;
    legend {
        @include border(.5em, .5em, .5em, .5em);
        padding:.2em
    }
    ul {
    float:right;
        margin-bottom: 0em;
        margin-left: 0em;
        list-style-type:  none;
        padding-left: 0em; 
    }
    li{
        display: inline;
        li a{
            height:1.3em;
        }
    }
}

