@import "base";

/*
   See colour combo at
http://www.colorcombos.com/color-schemes/294/ColorCombo294.html
#B7C68B, #F4F0CB, #DED29E, #B3A580, #685642
*/

$green-yellow: #B7C68B;
$yellow: #F4F0CB;
$orange-yellow: #DED29E;
$yellow-orange: #B3A580;
$brown: #685642;

.site-name{
    font-size:small;
    font-weight:bold;
    color:gray;
    white-space:nowrap;
    @include side(left, .8em, 1em);
}
