/* Basic functions common to all scss/sass files */
html, body {
  height: 100%; }

/*
   See colour combo at
http://www.colorcombos.com/color-schemes/294/ColorCombo294.html
#B7C68B, #F4F0CB, #DED29E, #B3A580, #685642
*/
.site-name {
  font-size: small;
  font-weight: bold;
  color: gray;
  white-space: nowrap;
  float: left;
  margin-left: 0.8em;
  padding-left: 1em; }

h1#site-name-lrg {
  float: left;
  margin-left: 1em;
  padding-left: 0;
  margin-top: -.5em; }

/* main body attributes STARTED HERE */
body {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  font-size: .8em;
  margin: 0px;
  background-color: white;
  color: #003333; }

.page_wrapper {
  width: 99%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: white;
  box-shadow: 0.1em 0.1em 0.1em #b7c68b;
  -moz-box-shadow: 0.1em 0.1em 0.1em #b7c68b;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #b7c68b;
  background-position: 0% 0%;
  background-repeat: repeat-x;
  background-size: auto auto;
  border: 1px solid #685642; }

p {
  margin: 0.5em 0em 1em 0em;
  text-align: justify;
  line-height: 150%; }
  p a {
    text-decoration: underline; }
  p a:visited {
    color: #3f2670;
    background-color: transparent; }
  p a:active {
    color: #a50707;
    background-color: transparent; }
  p .toc {
    font-family: Verdana, Helevetica, Arial, sans-serif;
    background-color: #E9F4F3;
    padding: .6em;
    margin-bottom: .6em;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 3em;
    border: 1px #ACCFCC solid; }

h1, h2, h3, h4, h5, h6 {
  color: #545454;
  font: 100% Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5em; }

h1 {
  font-size: 160%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 120%; }

h5 {
  font-size: 100%; }

.h2 .sidebox {
  font-size: 110%; }
.h2 .box {
  font-size: 110%; }

ul {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px; }
  ul .folder {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0em;
    padding: 0em; }

li, li .folders {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px; }
  li .folders {
    list-style: disc url(../../images/folder.gif) outside; }
  li .folders .disabled {
    color: #B8AE9C; }

/* link attributes */
a a:link, a a:visited {
  color: #1A4A72; }
a a:active {
  color: #932318; }
a a:hover {
  color: #932318;
  color: white; }
a .dropdown-title {
  color: white;
  font-weight: normal;
  text-decoration: none; }

.left {
  float: left;
  margin-left: 0;
  padding-left: 0; }

.tableborder {
  border: 1px #595241 solid; }

.button {
  color: #fffde0;
  background-color: #b3a580;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em, 0.3em, 0.3em, 0.3em;
  -webkit-border-radius: 0.3em, 0.3em, 0.3em, 0.3em;
  font-weight: normal;
  border: #AAA  solid 1px; }
  .button .button:focus, .button .button:hover {
    background-color: #685642;
    border: 1px solid #DED29E; }
  .button .button:active {
    color: #f4f0cb;
    background-color: #685642; }

.button2 {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  background-color: #B3A580; }
  .button2 .button2:focus {
    color: #f4f0cb;
    background-color: #685642;
    border: #ACCFCC  solid 1px; }

small.date {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  color: #595241;
  font-size: 1em; }
  small.date margin {
    bottom: 0px;
    top: 0px;
    left: 5px;
    right: 0px; }

hr {
  color: #accfcc;
  background-color: white;
  height: 1px; }

.editorsmallbox {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  background-color: #E9F4F3;
  padding: 2px;
  padding-right: 3px;
  border: 1px #ACCFCC solid; }

.editorlargebox {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  background-color: #E9F4F3;
  margin-left: 1em;
  border: 1px #ACCFCC solid; }
  .editorlargebox padding {
    left: .2em;
    right: .5em;
    top: .5em;
    bottom: .4em; }

select.dropdown {
  font-family: Verdana, Helevetica, Arial, sans-serif; }

.highlight, a.highlight {
  color: white;
  background-color: #5b8e88; }

.center {
  text-align: center; }

/* edit content tabs */
.buttontab {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  color: #555;
  background-color: white;
  font-weight: 500; }
  .buttontab selected {
    font-family: Verdana, Helevetica, Arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    border: 0;
    padding-left: 3px;
    padding-right: 3px;
    background-color: white;
    margin: 0px;
    padding: 0em 1em 0em;
    text-decoration: underline;
    width: 12%; }

.tab {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  border-top: 1px solid #DED29E;
  border-left: 1px solid #DED29E;
  border-right: 1px solid #DED29E;
  border-bottom: 0;
  width: 13%;
  padding: 0;
  margin: 0; }
  .tab a:link, .tab a:hover {
    color: black;
    background-color: white; }

.etab a:visited {
  color: black;
  background-color: white; }

td.selected {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  width: 13%;
  background-color: white;
  border-top: 1px #B8AE9C solid;
  border-left: 1px #B8AE9C solid;
  border-right: 1px #B8AE9C solid;
  padding-left: 3px;
  padding-right: 3px; }

.econtainer {
  background-color: #FFFAF0;
  border: 1px #6F7172 solid;
  margin-left: .5em; }

.etabself {
  background-color: #6F7172;
  text-align: center;
  font-weight: bold;
  padding: 2px; }

.unsaved {
  color: red;
  background-color: #fffde0;
  font-weight: bold; }
  .unsaved input[type="submit"] {
    color: #f4f0cb;
    background-color: #b3a580;
    border: 2px solid red; }

.saved {
  background-color: #FFFDE0;
  margin: 10px; }

/* the side menu */
/* the side menu heading */
td.dropdown-heading {
  color: #595241;
  background-color: #f4f0cb;
  border: 1px solid #DED29E;
  font-weight: bold;
  padding: 2px; }
  td.dropdown-heading a, td.dropdown-heading a:hover, td.dropdown-heading a:visited {
    text-decoration: none; }
  td.dropdown-heading .closed {
    border-bottom: 1px solid #ECFEEA; }

/* the side menu content */
td.dropdown {
  color: black;
  background-color: white;
  padding: 2px;
  border-left: 1px solid #F4F0CB;
  border-right: 1px solid #F4F0CB;
  border-bottom: 1px solid #F4F0CB;
  font-weight: normal; }
  td.dropdown a, td.dropdown a:visited {
    color: #595241;
    text-decoration: none; }
  td.dropdown a:hover {
    color: #595241;
    text-decoration: underline; }
  td.dropdown .cell {
    border-bottom: 0px; }
  td.dropdown strong {
    color: #2A6C28; }

/* added for 1.4.2: */
.results {
  padding-left: 20px; }

h5.search-results {
  color: #595241;
  background-color: #f7f3ed;
  padding: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px; }

small.search-info {
  color: #595241; }

p.search-description {
  color: #595241;
  background-color: #fffce5; }

.test-box {
  color: #595241;
  background-color: #f7f3ed;
  border-left: 1px solid #595241;
  border-right: 1px solid #595241;
  border-top: 1px solid #595241;
  font-weight: bold;
  padding: 2px; }

/***************************************************************/
table.tabbed-table {
  width: 100%;
  border: 1px black solid; }
  table.tabbed-table th#left-empty-tab, table.tabbed-table th#right-empty-tab, table.tabbed-table th.tab-spacer {
    background-color: transparent;
    width: 15px;
    border-bottom: 1px solid #B8AE9C; }
  table.tabbed-table th#right-empty-tab {
    text-align: right;
    width: 400px;
    padding-right: 5px; }
  table.tabbed-table th#right-empty-tab a {
    text-decoration: underline; }
  table.tabbed-table th.tab-spacer {
    width: 5px; }
  table.tabbed-table th.tab {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 110px;
    background-color: #E9F4F3;
    border: 1px solid #B8AE9C; }
  table.tabbed-table th.tab:hover {
    background-color: #ACCFCC; }
  table.tabbed-table th.tab a:focus {
    color: white; }
  table.tabbed-table th.selected {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 110px;
    background-color: #ACCFCC;
    border-left: 1px solid #B8AE9C;
    border-top: 1px solid #B8AE9C;
    border-right: 1px solid #B8AE9C; }
  table.tabbed-table a, table.tabbed-table a:visited, table.tabbed-table a:hover {
    color: black;
    text-decoration: none; }

a#my-start-page {
  padding: 2px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 2px 5px; }

a#back-to {
  padding-left: 20px;
  background-image: url(images/back.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px; }

div#breadcrumbs {
  /* The path bar, including breadcrumbs and add to favorites */
  clear: both;
  font-size: 0.85em;
  padding-left: .5em;
  margin-top: -.3em;
  margin-left: -.2em;
  padding: 0em 0em .2em .2em;
  float: left;
  width: 99.8%;
  border-bottom: 1px solid #B7C68B;
  background-color: #F4F0CB; }

h2.page-title {
  clear: right;
  margin-bottom: 10px;
  padding: 0px; }

h1 {
  margin-bottom: 5px; }

h3#help-title, div#help {
  margin-left: 5px;
  margin-right: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1px;
  background-color: #F7F3ED; }

div#help {
  border-bottom: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: small; }

.line {
  border-bottom: 1px solid black; }

div#help p {
  margin: 0;
  padding: 0;
  border: 0; }

div#toctoggle {
  float: left;
  margin-left: 0;
  padding-left: 10px; }

h1#section-title {
  float: left;
  margin-left: 0;
  padding-left: 1em;
  margin-top: -.5em; }

div#bypass-links {
  width: 3px; }

div#top-links {
  float: right;
  margin-right: 5px;
  padding-right: 20px;
  clear: both;
  margin-top: 0em; }
  div#top-links a:link, div#top-links a:visited {
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em; }
  div#top-links a:focus {
    color: black;
    background-color: #f6ead6; }

#top-links-jump, #top-links-text {
  float: left;
  white-space: nowrap;
  margin-top: -1em;
  background-color: #F4F0CB;
  padding-right: .5em; }

#top-links-text {
  float: right;
  clear: right;
  margin-left: 2em;
  border: thin solid #DED29E;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em, 0.3em, 0.3em, 0.3em;
  -webkit-border-radius: 0.3em, 0.3em, 0.3em, 0.3em; }

a#editor-link {
  background-color: #F7F3ED;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 8px;
  border: 1px solid #DED29E;
  font-weight: normal;
  text-decoration: none; }
  a#editor-link a#editor-link:hover {
    background-color: #F7F3ED;
    border: 1px solid #B8AE9C; }
  a#editor-link .off, a#editor-link .on {
    background-image: url(images/pen.gif);
    background-repeat: no-repeat;
    background-position: 0px 2px; }
  a#editor-link .on {
    background-image: url(images/pen2.gif); }

/* for data tables */
table.data {
  border: 1px solid #685642;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  padding: .2em;
  /* used for static tables with no form elements: */ }
  table.data th {
    background-color: #DED29E;
    padding: 3px;
    white-space: nowrap; }
    table.data th a {
      color: #595241;
      padding-right: 15px;
      margin-right: 15px;
      background-image: url("images/sort.png");
      background-repeat: no-repeat;
      background-position: right; }
  table.data tbody {
    border-top: 1px solid #B8AE9C;
    border-bottom: 1px solid #B8AE9C; }
    table.data tbody th {
      text-align: left;
      background-color: #DED29E;
      cursor: auto; }
    table.data tbody tr:hover {
      background-color: #F4F0CB;
      cursor: pointer; }
    table.data tbody tr.selected {
      background-color: #E9F4F3;
      cursor: auto; }
  table.data td {
    padding: 3px; }
  table.data tfoot {
    background-color: #DED29E;
    /*buttons*/ }
    table.data tfoot tr:first-child td {
      padding: 5px;
      background-image: url("images/arrow_ltr.gif");
      background-repeat: no-repeat;
      background-position: 4px 5px;
      padding-left: 40px; }
    table.data tfoot input {
      color: #f4f0cb;
      background-color: #685642;
      font-weight: normal;
      border: #685642  solid 1px; }
    table.data tfoot input:focus, table.data tfoot input:hover {
      color: #685642;
      background-color: #f4f0cb;
      border: #685642  solid 1px; }
  table.data .static tfoot td, table.data .static tfoot tr:first-child td {
    border-top: 1px solid #B8AE9C;
    padding: 5px;
    background-image: none;
    padding-left: 0px; }
  table.data .static tbody tr:hover {
    background-color: transparent;
    cursor: auto; }

/* course browser: */
div#browse {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

div.browse-selected {
  background-image: url("images/side_arrow.gif");
  background-repeat: no-repeat;
  padding-left: 9px;
  background-position: center left; }

div.browse-unselected {
  padding-left: 9px; }

ul.browse-list {
  list-style: none;
  padding: 0px; }

/* feedback /errors */
div#error {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #DD0000;
  padding: 5px;
  background-color: #E49E7A;
  color: #000000;
  background-color: #F69E94;
  padding-left: 25px;
  font-weight: bold;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em; }
  div#error h4 {
    color: black;
    margin-left: 0px; }
  div#error a {
    color: red;
    text-decoration: underline; }
  div#error ul li, div#error ul li .folders, li div#error ul .folders {
    margin-top: 5px; }

div#error ul, div#feedback ul, div#help ul, div#info ul, div#warning ul, div#help ul {
  position: relative;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none; }

div#feedback, div#help, div#info, div#warning {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #17B506;
  padding: 5px;
  background-color: #B7C68B;
  color: #000000;
  font-weight: bold;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em; }

div#help {
  border: 1px solid #ACCFCC;
  background-color: #E9F4F3; }

div#info {
  border: 1px solid #B8AE9C;
  background-color: #B8D0E8; }
  div#info a {
    color: red;
    text-decoration: underline; }

div#warning {
  border: 1px solid #FF8400;
  padding: 5px;
  background-color: #FFF6ED; }

acronym {
  cursor: help; }

div.news p {
  margin-left: 10px; }
div.news span.date {
  font-family: Verdana, Helevetica, Arial, sans-serif;
  color: #B8AE9C; }

/* home page links */
div.home-link {
  padding: 2px;
  float: left;
  text-align: center;
  margin: 2px;
  width: 120px;
  height: 90px; }
  div.home-link div.home-link:hover {
    padding: 1px;
    background-color: #F7F3ED;
    border: 1px solid #afafaf; }
  div.home-link a {
    text-decoration: none;
    font-weight: bold; }
  div.home-link img {
    border: 0px; }

/* sequence links */
div.sequence-links {
  float: right;
  margin-right: 5px;
  padding-right: 0;
  margin-top: 10px;
  padding-top: 7px; }
  div.sequence-links a {
    text-decoration: none; }

div.dropdown {
  width: 200px;
  padding: 2px;
  background-color: white;
  color: black;
  border-left: 1px solid #ECFEEA;
  border-right: 1px solid #ECFEEA;
  border-bottom: 1px solid #ECFEEA;
  font-weight: normal; }

div.dropdown-heading {
  background-color: #ACCFCC;
  color: #595241;
  border-left: 1px solid #ECFEEA;
  border-right: 1px solid #ECFEEA;
  border-top: 1px solid #ECFEEA;
  font-weight: bold;
  padding: 2px; }

.required {
  font-weight: bold;
  color: red;
  padding-right: 2px; }

div#content_text {
  margin-left: 5px; }

form {
  clear: none;
  display: inline; }

optgroup {
  font-size: small; }

/* packing */
div.paging {
  width: 100%;
  text-align: center;
  margin: 0.5em auto; }
  div.paging ul {
    list-style: none;
    display: inline;
    padding: 0px;
    border: 1px solid #000; }
  div.paging li, div.paging li .folders, li div.paging .folders {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px; }
    div.paging li a, li div.paging .folders a {
      text-decoration: none;
      padding-left: 4px;
      padding-right: 4px;
      border-left: 1px solid white;
      border-right: 1px solid white; }
      div.paging li a a:hover, li div.paging .folders a a:hover, div.paging li a a.current, li div.paging .folders a a.current {
        background-color: #DED29E;
        border-left: 1px solid #000;
        border-right: 1px solid #000; }

#header {
  background-repeat: repeatx;
  background-image: url("images/atutor_head.jpg");
  height: 4em;
  margin-bottom: -2em;
  padding-bottom: 2em; }
  #header a {
    font-weight: 600i; }
    #header a a:hover {
      color: #595241;
      background-color: #F7F3ED; }

#tl_corner {
  background-image: url(images/tl_corner.gif);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 0; }

div.top {
  /* Top space */
  background-color: #595241;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 9px; }

div.tabs {
  /* Navigational Plone Tabs(tm), implemented by customizing the a tag - they are surprisingly elegant. The power of CSS runs strong in these :) */
  background-color: transparent;
  border-collapse: collapse;
  border-bottom: 1px solid #B8AE9C;
  padding: 0.5em 0em 0em 2em;
  white-space: nowrap; }
  div.tabs a {
    /* The normal, unselected tabs. They are all links */
    border-color: #B8AE9C;
    border-width: 1px;
    border-style: solid solid none solid;
    color: #595241;
    height: 1.2em;
    margin-right: 0.5em;
    padding: 0em 2em 0em; }
    div.tabs a .selected {
      /* The selected tab. There's only one of this */
      background-color: white;
      border-bottom: #B8AE9C 1px solid;
      color: #595241;
      font-weight: normal; }
    div.tabs a a:hover, div.tabs a a.active {
      background-color: #B8AE9C;
      border-bottom: 1px solid #B8AE9C;
      color: white; }

.contentbox {
  border-radius: 0em 0em 0.5em 0.5em;
  -moz-border-radius: 0em, 0em, 0.5em, 0.5em;
  -webkit-border-radius: 0em, 0em, 0.5em, 0.5em; }

.headingbox {
  border-radius: 0.5em 0.5em 0em 0em;
  -moz-border-radius: 0.5em, 0.5em, 0em, 0em;
  -webkit-border-radius: 0.5em, 0.5em, 0em, 0em; }
  .headingbox a {
    color: #A50707;
    text-decoration: underline; }

h2.box, h4.box {
  font-size: 0.85em;
  padding: 2px;
  padding: .2em;
  border-top: 1px solid #B7C68B;
  border-left: 1px solid #B7C68B;
  border-right: 1px solid #B7C68B;
  border-bottom: 1px solid #F4F0CB; }

h4.box {
  border-radius: 0.5em 0.5em 0em 0em;
  -moz-border-radius: 0.5em, 0.5em, 0em, 0em;
  -webkit-border-radius: 0.5em, 0.5em, 0em, 0em;
  border-top: 1px solid #F4F0CB;
  border-left: 1px solid #F4F0CB;
  border-right: 1px solid #F4F0CB;
  border-bottom: 1px solid #F4F0CB; }

div.box {
  padding: .5em;
  background-color: #F4F0CB;
  color: black;
  font-size: 0.85em;
  font-weight: normal;
  border-left: 1px solid #B7C68B;
  border-right: 1px solid #B7C68B;
  border-bottom: 1px solid #B7C68B;
  border-radius: 0em 0em 0.5em 0.5em;
  -moz-border-radius: 0em, 0em, 0.5em, 0.5em;
  -webkit-border-radius: 0em, 0em, 0.5em, 0.5em; }
  div.box a:link {
    text-decoration: none; }
  div.box a:visited {
    color: #2A6C28;
    text-decoration: none; }
  div.box a:hover {
    text-decoration: underline; }
  div.box a.close {
    float: right;
    text-transform: none;
    border-left: 1pt solid #B8AE9C;
    padding: 0em 0.2em; }
  div.box h1, div.box h2, div.box h3, div.box h4 {
    margin: 0;
    padding: 0; }
  div.box .even {
    background-color: #F7F3ED; }
  div.box .odd {
    background-color: transparent; }
  div.box .content {
    padding: 1em;
    /*  font-size:  1em;*/ }

.boxDetails {
  text-align: right; }

h5.box {
  background-color: #6F7172;
  border: 1px solid #B8AE9C;
  border-style: solid solid none solid;
  color: Black;
  padding: 0em 1em 0em 1em;
  display: inline;
  font-size: 1em;
  height: 1em; }

/* users/index.php */
div.course {
  position: relative;
  width: 25em;
  height: 10.5em;
  border: #cccccc 1px solid;
  background-color: #F7F7F7;
  float: left;
  margin: 3px;
  padding: 5px; }
  div.course .break {
    clear: left; }
  div.course h2 {
    border: 0px;
    font-weight: normal;
    font-size: large; }
  div.course div.course:hover {
    background-color: #FBF4E9;
    border: #B8AE9C 1px solid; }
  div.course img.icon {
    float: left;
    margin: 2px;
    height: 6.8em;
    width: 6.8em;
    margin-right: 5px; }
  div.course div.shortcuts a {
    text-align: right;
    text-decoration: none;
    clear: left;
    vertical-align: middle; }

img.headicon {
  float: left;
  margin-top: .5em;
  margin-left: .5em;
  margin-right: .5em;
  height: 6.45em;
  width: 6.45em;
  vertical-align: top;
  text-align: right;
  border: 1px solid white; }

div#alternatives_shortcuts {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  float: right;
  margin: -2em 5pt;
  border: 1px solid #F4F0CB;
  padding-top: .2em;
  padding-left: .2em;
  padding-right: .2em; }

fieldset#shortcuts {
  float: right;
  background-color: #FEFDEF;
  border: 1pt solid #B8AE9C;
  margin: -5pt 5pt 5pt 5pt;
  padding-right: 10pt;
  padding-bottom: 5pt;
  padding-left: 10pt; }

fieldset {
  margin-bottom: 10pt;
  border-radius: .5em .5em .5em .5em;
  -moz-border-radius: .5em .5em .5em .5em;
  padding: 0.2em; }

div#shortcuts {
  border-left: thin solid #B7C68B;
  border-right: thin solid #B7C68B;
  border-bottom: thin solid #B7C68B;
  border-radius: 0em 0em 0.5em 0.5em;
  -moz-border-radius: 0em, 0em, 0.5em, 0.5em;
  -webkit-border-radius: 0em, 0em, 0.5em, 0.5em;
  float: right;
  margin-right: 2em;
  padding: .1em; }
  div#shortcuts legend {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
    -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
    padding: 0.2em; }
  div#shortcuts ul {
    float: right;
    margin-bottom: 0em;
    margin-left: 0em;
    list-style-type: none;
    padding-left: 0em; }
  div#shortcuts li, div#shortcuts li .folders, li div#shortcuts .folders {
    display: inline; }
    div#shortcuts li li a, li div#shortcuts .folders li a, div#shortcuts li .folders a, li div#shortcuts .folders .folders a {
      height: 1.3em; }
