<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Example Maker</name> 
    <description lang="en">This is an example module that makes examples.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
        <maintainer> 
            <name>John Doe</name> 
            <email>jd@example.com</email> 
        </maintainer>
    </maintainers> 
    <url>http://www.example.com</url> 
    <license>BSD</license> 
    <release> 
        <version>0.2</version> 
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes>Fixes several bugs in previous version.</notes> 
    </release> 
    <private>
        <subsite>mysubsite.atutor.com</subsite>
        <subsite>mysubsite1.atutor.com</subsite>
    </private>
</module>