div#help-nav-list {
  margin: 1em auto;
  border: 0.1em solid black;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  text-align: center;
  height: 2.5em;
  width: 45em;
  display: block;
  text-transform: uppercase; }

ul#help-subnavlist {
  padding: 0em; }
  ul#help-subnavlist li {
    list-style: none;
    display: inline-block;
    height: 1em;
    margin: 0.3em 1em;
    line-height: 2em; }

div.help-row {
  margin: 1em auto;
  border: 0.1em solid black;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background-color: #ffffee;
  width: 80%;
  padding: 2em;
  color: #000000; }
  div.help-row h3 {
    margin-bottom: 0.5em; }

h2.page-title {
  display: none; }
